header {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 65px;
	width: 100%;
	box-sizing: border-box;
	padding: 30px 95px 0;
}
.logoWrapper {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 60px 1fr;
}
.logoTitle {
	align-self: center;
}
.nav {
	display: grid;
	align-items: center;
}
.navMenu {
	margin: 0;
	padding: 0;
	display: grid;
	list-style-type: none;
	grid-template-columns: repeat(6, 1fr);
}
.navMenuItem {
	text-align: center;
}
.navMenuItem a {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
