* {
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #fff;
	min-height: 100vh;
	background: url('../assets/background/header-background.jpg') #1c1b21 no-repeat top center;
}
.content {
	position: relative;
	max-width: 1270px;
	padding: 0 80px;
	align-self: center;
	overflow: hidden;
}

.logoWrapper {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 60px 1fr;
}
.logoTitle {
	align-self: center;
}

.sectionHeader {
	font-size: 48px;
	line-height: 72px;
	font-weight: 700;
	margin: 0;
}
.anchorLink-20 {
	display: block;
	height: 20px;
}

@media only all and (max-width: 1300px) {
	.content {
		padding: 0 30px;
	}
}
@media only all and (max-width: 992px) {
	body {
		background: url('../assets/background/header-background-992.jpg') #1c1b21 no-repeat top center;
	}
	.logoWrapper {
		justify-self: center;
	}
}
@media only all and (max-width: 768px) {
	body {
		background: url('../assets/background/header-background-768.jpg') #1c1b21 no-repeat top center;
	}
}
@media only all and (max-width: 480px) {
	body {
		background: url('../assets/background/header-background-480.jpg') #1c1b21 no-repeat top center;
	}
	.content {
		padding: 0 15px;
	}
	.sectionHeader {
		font-size: 32px;
		line-height: 1.5em;
	}
}
