main {
	padding-top: 322px;
}

.newSingleWrapper {
	margin-bottom: 110px;
}
.newSingleHeader {
	margin: 0 0 10px;
}
.newSingleName {
	font-size: 100px;
	line-height: 150px;
	font-weight: 700;
	margin: 0 0 50px;
	color: transparent;
	-webkit-text-stroke: 1px #fff;
}
.newSinglePlayerWrapper {
	display: grid;
	grid-template-columns: 25px 1fr 120px;
	align-items: center;
	grid-gap: 45px;
}
.musicTimeLine {
	background-color: #fff;
	cursor: pointer;
}
.musicTimeLinePlayed {
	position: relative;
	height: 2px;
	transition: width 0.2s linear;
	width: 0%;
	background-color: var(--second-color);
}
.musicTimeLinePlayed:after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: -9px;
	height: 20px;
	width: 2px;
	background-color: var(--second-color);
}
.musicTime {
	font-size: 18px;
	line-height: 27px;
	display: flex;
}
.playerIcon {
	cursor: pointer;
}

/* Media */
@media only all and (max-width: 992px) {
	.newSingleWrapper {
		margin-bottom: 60px;
	}
	.newSingleName {
		margin-bottom: 30px;
	}
}
